<div class="container">
  <div class="player-tv-show">
    <video
      [src]="videoSource"
      controls>
    </video>
    <div class="info-holder">
      <div class="rating">
        <mat-icon>favorite_border</mat-icon>
        <mat-icon>thumb_up_off_alt</mat-icon>
        <mat-icon>thumb_down_off_alt</mat-icon>
      </div>
      <h2>Resolution</h2>
      <mat-form-field>
        <mat-label>Resolution</mat-label>
        <mat-select (selectionChange)="getStream()">
          <mat-option [value]="360">360p</mat-option>
          <mat-option [value]="480">480p</mat-option>
          <mat-option [value]="720">720p</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button download-button" mat-raised-button (click)="download()">Download</button>
    </div>
  </div>
  <div class="details">
    <h1 class="title">{{contentDetails.title}} <i *ngIf="contentDetails.type==='TV-SHOW'" class="fa fa-plus sub-button" (click)="subscribe(contentDetails.title, 'shows')"></i></h1>
    <hr style="width: 100%;">
    <h2>Description</h2>
    <p class="description">{{contentDetails.description}}</p>
    <h2>Actors</h2>
    <div class="actors" *ngFor="let actor of contentDetails.actors">
      <p>{{actor}}<mat-icon class="mat-icon" (click)="subscribe(actor, 'actors')">add</mat-icon></p>
    </div>
    <h2>Genre</h2>
    <div class="genre" *ngFor="let genre of contentDetails.genres">
      <p>{{genre}} <mat-icon class="mat-icon" (click)="subscribe(genre, 'genres')">add</mat-icon></p>
    </div>
    <h2>Directors</h2>
    <div class="directors" *ngFor="let director of contentDetails.directors">
      <p>{{director}} <mat-icon class="mat-icon" (click)="subscribe(director, 'directors')">add</mat-icon></p>
    </div>
  </div>
</div>
