#main {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 4rem;
  width: 100%;
  overflow-x: hidden;
  min-height: 93vh;
}

h3 {
  color: whitesmoke;
}

#right {
  padding: 1rem 8rem 2rem 8rem;
  width: 50%;
}

.list-element {
  display: flex;
  align-items: center;
}

.list-add {
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.add-list {
  display: flex;
  align-items: center;
  width: 1025px;
}

mat-form-field {
  width: 100%;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: auto;
}

mat-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  width: 8rem;
  text-align: center;
  background-color: #2E294E;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
}

.custom-file-label:hover {
  background-color: rgba(46, 41, 78, 0.8);
}

.delete-button {
  background-color: darkred;
  color: whitesmoke;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.button-regular {
  width: 8rem;
  font-size: 1rem;
  background-color: #42b1b6;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.button-regular:hover {
  background-color: #2f7f83;
}

.buttons-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

p {
  margin: 0 0 0 1rem;
  color: whitesmoke;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

#series {
  margin-left: 2rem;
}

.icon {
  color: #ffb787;
}

span {
  font-size: 1.1rem;
}

#delete{
  background: darkred;
  max-height: 3rem;
  height: 3rem;
  width: 100px;
  padding: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

#delete:hover{
  background: #600000;
}

#top {
  margin-bottom: 1rem;
}

mat-checkbox {
  width: 260px;
  margin-bottom: 1rem;
} 

#button-submit {
  width: 8rem;
  font-size: 1rem;
  background-color: #2E294E;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

#button-submit:hover {
  background-color: rgba(46, 41, 78, 0.8);
}