.home {
  background-color: transparent;
  padding-top: 15vh;
  padding-bottom: 5vh;
  display: block;
}

.example-full-width {
  width: 50%;
  padding-left: 1rem;
}
.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 3rem;
}

button{
  min-width: 3rem;
  border-radius: 0 1rem 1rem 0;
  border:none;
}
.video-list {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

app-video-card {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
